[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "InSilicoVA"]
	path = InSilicoVA
	url = https://github.com/verbal-autopsy-software/insilicova
[submodule "InterVA4"]
	path = InterVA4
	url = https://github.com/verbal-autopsy-software/interva4
[submodule "openVA"]
	path = openVA
	url = https://github.com/verbal-autopsy-software/openva
